* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

footer {
  color: #fff;
  padding: 1rem;
  background-color: #000;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #4169e1;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  top: 0;
  position: sticky;
  padding-inline: 16px;
  background-color: #50c878;
  z-index: 10;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  max-width: 1280px;
  margin-inline: auto;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

.nav-list {
  gap: 40px;
  display: flex;
  list-style: none;
}

.nav-list a {
  color: #fff;
  font-size: 18px;
  padding-block: 16px;
}

.about {
  display: grid;
  gap: 100px;
  padding: 100px;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  background-color: #fff;
}

.about span {
  grid-column: 1 / -1;
  text-align: center;
}

span .about__description {
  font-weight: 300;
}

.role {
  display: grid;
  padding: 1rem 0;
  position: relative;
  border-radius: 16px;
  background-color: #f9f9f9;
}

.role img {
  height: 5rem;
  top: -40px;
  position: absolute;
  border-radius: 4px;
}

.role img,
.role span,
.role ul {
  align-self: center;
  justify-self: center;
}

.role__title {
  margin: 1rem 0;
}

.role__assignments {
  padding-top: 10px;
  justify-self: left;
  list-style-type: disc;
}

.contact {
  height: 80vh;
  color: #fff;

  gap: 10px;
  display: grid;
  align-items: center;
  
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./assets/contact.svg);
}

.contact h1 {
  padding-top: 5rem;
  text-align: center;
  grid-column: 1 / -1;
  padding-bottom: 3rem;
}

.icon {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.icon h3 {
  font-weight: 300;
  margin: 1.5rem 0;
}

.icon h4 {
  font-weight: 500;
  font-size: large;
}

.icon a {
  color: #fff;
}

.icon a:hover {
  color: #50c878;
  text-decoration: underline;
}

.icons {
  gap: 10px;
  display: grid;
  grid-column: 1 / -1;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.contact img {
  height: 5rem;
}

.main {
  width: 100%;
  height: 100vh;

  display: flex;
  overflow: hidden;
  justify-content: space-around;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./assets/background.svg);
}

.order {
  padding: 6rem 0 0 8rem;
}

.details {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.details h2,
.details p,
.details li {
  padding-bottom: 1.5rem;
}

.img img {
  display: flex;
}

.button {
  padding: 1rem;
  font-size: 20px;
  font-weight: 700;
  border-radius: 16px;
  color: #fff;
  background-color: #4169e1;
  cursor: pointer;
}

.detached {
  font-weight: 700;
  color: #0a41e4;
  text-transform: uppercase;
}

.button:hover {
  background-color: #0a41e4;
  transition: 0.5s;
}

@media (min-width: 751px) {
  .nav-list a {
    font-weight: 700;
  }

  .nav-list a:hover {
    color: #4169e1;
    transition: 0.5s;
  }

  #button-contact {
    padding: 1rem;
    background-color: #4169e1;
    border-radius: 16px;
  }

  #button-contact:hover {
    color: #fff;
    transition: 0.5s;
    background-color: #0a41e4;
  }

  .details h2 {
    font-size: 30px;
  }

  .details p {
    font-size: 20px;
  }

  .details li {
    font-size: 18px;
  }

  .footer_information {
    display: flex;
    justify-content: space-around;
  }

  .credits {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 1290px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4169e1;
    clip-path: circle(100px at 90% -20%);
    transition: 1s ease-out;

    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 0;
    pointer-events: none;
  }

  .nav-list a {
    color: #fff;
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .img {
    display: none;
  }

  .details {
    padding-bottom: 1rem;
  }

  .order {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    text-align: left;
  }

  .order p {
    font-size: 20px;
  }

  .order li {
    font-size: 18px;
  }

  .about {
    height: 150vh;
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .role span {
    padding-top: 1rem;
  }

  .role ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .role__assignments {
    list-style-type: none;
  }

  .contact {
    height: 100vh;
    align-items: unset;
  }

  .icons {
    text-align: inherit;
    grid-template-columns: 1fr;
  }

  .footer_information {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .credits {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0.5rem;
  }

  .credits ul li {
    list-style-type: disc;
  }
}

@media (min-width: 376px) and (max-width: 431px) {
  .role__title {
    font-size: 24px;
  }

  .role__assignments {
    font-size: 20px;
  }
}

@media (min-width: 432px) and (max-width: 1290px) {
  .logo,
  .details h2 {
    font-size: 32px;
  }

  .order p,
  .order li {
    font-size: 28px;
  }

  .button {
    font-size: 28px;
  }

  .nav-list li a {
    font-size: 32px;
  }

  .about span h1 {
    font-size: 24px;
  }

  .about__description {
    font-size: 20px;
  }

  .role__title {
    font-size: 22px;
  }

  .role__assignments {
    font-size: 22px;
  }

  .contact,
  .contact h4,
  .footer_information {
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  .logo {
    font-size: 18px;
  }

  .order {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
  }

  .order p {
    font-size: 16px;
  }

  .order li {
    font-size: 14px;
  }
}
